SET(FBX_ROOT_WIN32 "C:/Program Files/Autodesk/FBX/FBX SDK/2020.3.4" CACHE STRING FBX_ROOT_WIN32)
SET(FBX_ROOT_LINUX "/usr/FBX202034_FBXSDK_LINUX" CACHE STRING FBX_ROOT_LINUX)
SET(FBX_ROOT_MACOS "/Applications/Autodesk/FBX SDK/2020.3.4" CACHE STRING FBX_ROOT_MACOS)